Google Colab
.ipynb_checkpoints/

Python
__pycache__/
*.py[cod]
*.so

Virtual environments
venv/
env/

Data files (optional - if you want to keep big datasets local only)
.csv
.xlsx
.json

#Jupyter notebook output files
.out
.log

System-specific files
.DS_Store
.Thumbs.db
